.contactList {
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 600px;
  background: #1e252e; /* Темний фон */
  border: 2px solid #7a8b99;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(124, 132, 143, 0.3), inset 0 0 12px #2d3a47;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-family: "Cinzel", serif;
}
